/* Decrease the font size of the toctree sidebar caption */
.wy-menu-vertical .caption span {
    font-size: 100%;
}

/* --- Style for the in-page toctree caption --- */

/* Targets the text inside the caption paragraph */
p.caption .caption-text {
    font-size: 0.8em;   /* Makes it slightly larger and bolder */
    /*font-weight: bold;
    /*color: #DDDDDD;     /* Example: a lighter gray color */
}

/* Optional: remove the default top margin to bring it closer to the list */
p.caption {
    margin-top: 0;
    margin-bottom: 0;
}
